*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 10px;
    background-color: #000;
    color: white;
}

header h1{
    font-size: 10px;
    padding-bottom: 12px;
}

header p{
    font-size: 25px;
    font-weight: bold;
    margin: 12px;
}

button{
    background-color: gray;
    color: white;
    padding: 5px;
}

.menu{
    position:absolute;
    top: 5px;
    left: 5px;
}

.informacion{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card_informacion{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 10px;
}

.card_informacion p{
    margin: 10px;
    padding: 20px 0;
}

.card_informacion i{
    font-size: 80px;
}

@media screen and (max-width:900px){
    .card_informacion{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:480px){
    header{
        padding-top: 50px;
        padding-bottom: 60px;
        text-align: center;
    }
    .menu{
        font-size: 20px;
    }
    header h1{
        font-size: 20px;
    }
    header p{
        font-size: 40px;
    }
    button{
        font-size: 30px;
    }
    .informacion{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .informacion i{
        font-size: 150px;
    }
    .informacion p{
        width: 200px;
        font-size: 20px;
    }
}